Repository boringcodes/eslint-config-typescript-react: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn format, yarn lint

.lintstagedrc:

{
  "*.{js,json,md,yml}": "yarn format",
  "*.js": "yarn lint"
}

chore: remove --no-verify tag in yarn release script to avoid prettier error
  package.json
Due: yarn format

chore: add build to .gitignore
  .gitignore
Due: none

chore: replace rm -rf with rimraf
  package.json
Due: yarn format

ci(workflows): update lint-source & publish-npm
  .github/workflows/lint-source.yml
  .github/workflows/publish-npm.yml
Due: yarn format

chore(deps): upgrade oudated deps, fixed deps version, add commitlint
  .husky/.gitignore
  .husky/commit-msg
  .husky/pre-commit
  .huskyrc
  .lintstagedrc
  README.md
  index.js
  package.json
  yarn.lock
Due: yarn format, yarn lint

chore(release): 0.1.2
  CHANGELOG.md
  package.json
Due: yarn format

ci(workflows): support node 16
  .github/workflows/lint-source.yml
  .github/workflows/publish-npm.yml
Due: yarn format

chore(prettier, eslint): move config to package.json
  .eslintrc.js
  .prettierrc.js
  package.json
Due: yarn format, yarn lint
